@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#c8d8d7, #979e9d);
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  max-width: 50rem;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

section:nth-child(1)  {
  padding: 2rem;
  background: linear-gradient(#35535b, #294a52);
  color: white;
}

section:nth-child(2) {
  padding: 2rem;
  background-color: #8ad38b;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
}

section:nth-child(1) label {
  color: #bbe3dd;
}

section:nth-child(2) label {
  color: #175c06;
}

input {
  display: block;
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #959a99;
  background-color: #daedea;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #07302a;
}

.button {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #338196;
  background-color: #338196;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.custom.button {
  border: 1px solid #3b802a;
  background-color: #8ad38b;
  color: #35535b;
  font-weight: bold;
}

.container.button {
  border: 1px solid #fc6868;
  background-color: #e9813c;
}